<h1>Здравствуйте, {{fullName}}</h1>
<p>Вы запросили восстановление пароля на сайте редактора резюме КС54.</p>

<p>Для восстановления пароля <a href='{{token}}'>нажмите сюда</a></p>

<p>Если вы не запршивали восстановление пароля, то просто проигнорируйте это
  письмо.</p>